footer.footer
    .footer__links.footer-links.footer__links--pc
        .footer-links__column
            .footer-links__title Наши работы
            a.footer-links__link(href="#") Фотографии работ
            a.footer-links__link(href="#") До / после
            a.footer-links__link(href="#") Фотографии с обучения
        .footer-links__column
            .footer-links__title Услуги
            a.footer-links__link(href="#") Виды работ
            a.footer-links__link(href="#") Стоимость работ
            a.footer-links__link(href="#") Как записаться?
        .footer-links__column
            .footer-links__title Отзывы клиентов
            a.footer-links__link(href="#") Видеоотзывы клиентов
            a.footer-links__link(href="#") Отзывы написанные вручную
            a.footer-links__link(href="#") Фото клиентов
        .footer-links__column
            .footer-links__title Контакты
            a.footer-links__link(href="#") Как проехать?
            a.footer-links__link(href="#") Записаться на обучение
            a.footer-links__link(href="#") Мы в социальных сетях
    .footer__copyrights.footer__copyrights--pc
        .footer-copyrights
            .footer-copyrights__column
                | © “GMA Detailing”
                br
                |Все права защищены
            .footer-copyrights__column
                | г. Ростов-на-Дону
                br
                a.footer-copyrights__link(href="#") ул. Плиева, 61
                a.footer-copyrights__link(href="#") 8 (928) 126-81-66
            .footer-copyrights__column
                | г. Ставрополь
                br
                a.footer-copyrights__link(href="#") ул. 45-я Параллель, 41
                a.footer-copyrights__link(href="#") 8 (928) 366-64-44
            .footer-copyrights__column
                | Разработка сайта
                br
                a.footer-copyrights__link(href="#") MOZGROUP
    .footer__copyright.footer__copyrights--mobile

        .footer-copyrights__column
            .header-menu__social-icons
                a.header-menu__social-link(href="#")
                    img.header-menu__social-icon(src="./img/icons/vk2.svg")
                a.header-menu__social-link(href="#")
                    img.header-menu__social-icon(src="./img/icons/instagram2.svg")
                a.header-menu__social-link(href="#")
                    img.header-menu__social-icon(src="./img/icons/youtube3.svg")
            a.header-menu__book-training(href="#") Записаться на обучение


        .footer-copyrights__column
            | г. Ростов-на-Дону
            br
            a.footer-copyrights__link(href="#") ул. Плиева, 61
            a.footer-copyrights__link(href="#") 8 (928) 126-81-66
            a.footer-copyrights__link(href="#") gma@yandex.ru
        .section__devider.footer__devider
        .footer-copyrights__column
            | г. Ставрополь
            br
            a.footer-copyrights__link(href="#") ул. 45-я Параллель, 41
            a.footer-copyrights__link(href="#") 8 (928) 366-64-44
        .footer-copyrights__column.footer-copyrights__column--copyrights
            | © “GMA Detailing”
            br
            | Все права защищены